@mixin flex( $dir , $wrap , $just , $align ){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin media(){
    @media screen and (max-width:480px) {
        @content
    }
}